:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Allura", sans-serif;
  --third-family: "SF Pro", sans-serif;

  --primary-color-red: #ff4646;
  --primary-color-red10: rgba(255, 70, 70, 0.1);
  --color-dark: #181c29;
  --static-white: #fff;
  --static-white40: rgba(255, 255, 255, 0.4);
  --static-white20: rgba(255, 255, 255, 0.2);
  --content-bg: #ecf3f8;
  --tag-purple: #4361ff;
  --tag-pink: #ff43f7;
  --tag-green: #06a44f;
  --bg-snow: url(./assets/img/bg-snow.png);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: var(--static-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  color: var(--color-dark);
  min-width: 320px;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 82px;
}

.logotip {
  display: flex;
  align-items: center;
  padding: 8px 22px;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
  color: var(--color-dark);
  background: transparent;
}

.logotip img {
  margin-right: 8px;
}

.sm {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--dark);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list a {
  display: block;
  padding: 12px 23px;
}

.section {
  background-color: var(--primary-color-red);
  background-image: url(./assets/img/bg-snow.png);
  background-repeat: no-repeat;
  padding: 60px 82px;
}

#Hero {
  background-image: url(./assets/img/bg-ball.png), var(--bg-snow);
  background-position: center center, center;
  background-size: cover, cover;
  display: flex;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

.block-hero {
  padding: 60px 0px;
  max-height: 405px;
  max-width: 429px;
}

.caption {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--static-white);
  padding-bottom: 12px;
}

h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
  color: var(--static-white);
  padding: 0 0 12px 0;
}

.btn-form {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.btn {
  border-radius: 20px;
  padding: 20px 32px;
  width: 236px;
  height: 56px;
  background: var(--color-dark);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: var(--static-white);
  display: block;
  align-items: center;
  border: none;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  max-height: 528px;
  max-width: 1276px;
  background-color: var(--static-white);
}

.block-santa {
  padding: 100px 152px 100px 60px;
  max-width: 638px;
  max-height: 528px;
}

#About img {
  border-radius: 20px;
  width: 100%;
  height: 528px;
  object-fit: cover;
  transition: color 0.5s ease;
}

.block-content {
  max-width: 426px;
  max-height: 328px;
  padding: 60px 0;
}

h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--dark);
}

.red {
  color: var(--primary-color-red);
  text-align: start;
  padding-bottom: 20px;
}

.text-about {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--dark);
  padding-top: 20px;
}

#Slider {
  overflow: hidden;
}

.slider-box {
  display: flex;
  max-width: 1276px;
  max-height: 200px;
  align-items: center;
  column-gap: 21px;
}

.container-slider {
  max-width: 1278px;
  max-height: 368px;
}

.block-slider {
  align-content: center;
  justify-items: center;
  padding-bottom: 20px;
}

.slider-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  color: var(--static-white);
}

.slider-img {
  max-width: 200px;
  max-height: 200px;
}

.arrow-box {
  display: flex;
  justify-content: right;
  column-gap: 20px;
  padding-top: 20px;
}

.arrow-left {
  border: 1px solid var(--static-white);
  border-radius: 20px;
  width: 56px;
  height: 56px;
  background: var(--primary-color-red);
}

.arrow-right {
  border: 1px solid var(--static-white);
  border-radius: 20px;
  width: 56px;
  height: 56px;
  background: var(--primary-color-red);
}

#leftBtn {
  border: 1px solid var(--static-white40);
}

#rightBtn{
  cursor: pointer;
}

.block-gifts {
  align-content: center;
  justify-items: center;
  padding: 0 0 18px 0;
}

.cards {
  max-width: 1276px;
  max-height: 342px;
  display: flex;
  column-gap: 12px;
}

.card {
  max-width: 310px;
  max-height: 342px;
  background: #ecf3f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.img-card {
  background: #ecf3f8;
  width: 100%;
}

.info {
  width: 310px;
  height: 112px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 22px;
}

.info-card{
padding-top: 9px;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--Dark, #181c29);
  text-overflow: ellipsis;
}

h4 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.white {
  color: var(--static-white);
}

.purple {
  color: var(--Tag-Purple, #4361ff);
}

.green {
  color: var(--Tag-Green, #06a44f);
}

.pink {
  color: var(--Tag-Pink, #ff43f7);
}

.dark {
  color: var(--Dark, #181c29);
}

#cta {
  background-image: url(./assets/img/bg-forest.png), var(--bg-snow);
  max-height: 667px;
  background-size: cover;
  border-radius: 0 0 20px 20px;
}

.container-cta {
  display: flex;
  max-width: 1276px;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px;
}
.block-cta {
  display: flex;
  text-align: center;
  align-items: center;
  max-width: 426px;
  flex-direction: column;
  padding: 60px 0;
}

#cta .btn {
  margin: 18px 0 6px 0;
}

.timer {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: var(--Static-White-40, rgba(255, 255, 255, 0.4));
  padding: 8px 12px 12px 12px;
}

.block-timer {
  display: flex;
  width: 80px;
  flex-direction: column;
  position: relative;
}

.number {
  color: var(--Static-White, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.tags {
  color: var(--Static-White, #fff);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.timer .block-timer:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

#footer-contact {
  padding: 60px 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: var(--Static-White, #fff);
  column-gap: 14px;
  row-gap: 67px;
}

.block-contact {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: var(--Content-Background, #ecf3f8);
  flex-direction: column;
  width: 416px;
}

.img-footer {
  width: 80px;
  height: 80px;
}

.action-large {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
  padding-top: 14px;
}

#footer-contact h3{
padding-top: 12px;
}

#social img {

}
.text-social {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  padding: 13px 0;
}

@media (hover: hover) {
  a:hover {
    color:#ff4646
}

.logotip:hover {
  color: inherit
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #181c29
}

.nav-menu li:hover {
  background-color: rgba(255, 70, 70, 0.1);
  color: #ff4646
}



}
