:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Allura", sans-serif;
  --third-family: "SF Pro", sans-serif;

  --primary-color-red: #ff4646;
  --primary-color-red10: rgba(255, 70, 70, 0.1);
  --color-dark: #181c29;
  --static-white: #fff;
  --static-white40: rgba(255, 255, 255, 0.4);
  --static-white20: rgba(255, 255, 255, 0.2);
  --content-bg: #ecf3f8;
  --tag-purple: #4361ff;
  --tag-pink: #ff43f7;
  --tag-green: #06a44f;
  --bg-snow: url(./assets/img/bg-snow.png);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: var(--static-white);
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
  color: var(--color-dark);
  min-width: 320px;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px 82px;
}

.logotip {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}

a {
  text-decoration: none;
  transition: color 0.5s ease;
  background: transparent;
}

.logotip img {
  margin-right: 8px;
}

.sm {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--dark);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list a {
  display: block;
  padding: 12px 20px;
  align-items: center;
}

.section {
  background-color: var(--primary-color-red);
  background-image: url(./assets/img/bg-garland.png);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 60px 8px;
}

.container-gifts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-tab{
  max-width: 426px;
}

.tab-list{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 20px 0;
}

.active {
  border-radius: 12px;
  background: var(--Primary-10, rgba(255, 70, 70, 0.1));
  color: var(--Primary, #FF4646);
  display: flex;
  align-items: center;
  padding: 12px 20px;

}

.tab-item{
  padding: 12px 20px;
  display: block;
}

h1{
  text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 150%;
letter-spacing: 5.76px;
text-transform: uppercase;
}

.white{
  color: var(--Static-White, #FFF);
}

.tab-list{
  list-style-type: none;
}

.bg{
  background: var(--Static-White-20, rgba(255, 255, 255, 0.20));
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12px;
  row-gap: 12px;
}

.card {
  max-width: 310px;
  max-height: 342px;
  background: #ecf3f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.img-card {
  background: #ecf3f8;
  width: 100%;
}

.info {
  width: 310px;
  height: 112px;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding: 20px 20px 8px;
}

h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  overflow: hidden;
  color: var(--Dark, #181c29);
  text-overflow: ellipsis;
}

h4 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.white {
  color: var(--static-white);
}

.purple {
  color: var(--Tag-Purple, #4361ff);
}

.green {
  color: var(--Tag-Green, #06a44f);
}

.pink {
  color: var(--Tag-Pink, #ff43f7);
}

.dark {
  color: var(--Dark, #181c29);
}

#footer-contact {
  padding: 60px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background: var(--Static-White, #fff);
  column-gap: 12px;
  row-gap: 60px;
}

.block-contact {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: var(--Content-Background, #ecf3f8);
  flex-direction: column;
  width: 377px;
}

.img-footer {
  width: 80px;
  height: 80px;
}

.action-large {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

#social img {
  padding-left: 12px;
}

.text-social {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  padding: 12px 0;
}

@media (hover: hover) {
}