@import "./variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 3px;
  border-radius: 10px;
}

@media (hover: hover) {
  
}